.pointer{
    cursor: pointer;
}
.app.combined .breadcrumb a {
    color: #db7452;
}
.redeem_history {
    max-width: 797px;
}
.app.combined .btn-warning {
    color: #fff;
    background-color: #db7452;
    border-color: #db7452;
}