.box-food-upcoming-events img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
}
.app.combined .btn-warning {
    color: #fff;
    background-color: #db7452;
    border-color: #db7452;
}
.text-muted-food{
    background: white;
    padding: 10px;
    margin: 10px;
}
.app.combined .breadcrumb a {
    color: #db7452;
}